# VCS
.git
.gitmodules
.gitignore

# macOS cruft
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/

# Editor/IDE
.vscode/
.idea/

# Project-specific
omega_workspace/
workspace/.omega/
node_modules/
.env
.env.*
*.log